@font-face {
    font-family: loveStory;
    src: url(../public/Lovely\ Balloon.ttf);
}

body {
    background: #f1b6ac;
    font-family: loveStory;
    margin: 0;
}

.outer-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.new-no-button {
    outline: none;
    border: none;
    cursor: pointer;
    display: block;
    position: relative;
    background-color: #f5c1c1;
    font-size: 16px;
    font-weight: 300px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 15px 40px;
    margin: 0 10px;
    border-radius: 20px;
    box-shadow: 0 6px #f19e93;

    position: absolute;
    transition:
        left 0.5s,
        top 0.5s;
}

.date-text {
    color: #ac573d;
}

.choice {
    display: flex;
    padding: 10px;
}

.cat-gif {}

.btn {
    outline: none;
    border: none;
    cursor: pointer;
    display: block;
    position: relative;
    background-color: #f5c1c1;
    font-size: 16px;
    font-weight: 300px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 15px 40px;
    margin: 0 30px;
    border-radius: 20px;
    box-shadow: 0 6px #f19e93;
}

.btn:hover {
    box-shadow: 0 4px #f19e93;
    top: 2px;
}

.btn:active {
    box-shadow: none;
    top: 6px;
}
